<!-- ==============================Current Album================================= -->  
<main class="album-view container narrow"> 
    <section class="clearfix">
        <!-- ==========================Current Album - Details=========================== --> 
        <!--Album Artwork -->
        <div class="column half">
            <img ng-src="{{album.albumArtUrl}}" class="album-cover-art">
        </div>
        <!--Album Details - click sets the album page-->
        <div class="album-view-details column half" ng-click="setCurrentAlbum(album.artist)">
            <h3 class="album-view-artist" >{{album.artist}}</h3>
            <h2 class="album-view-title">{{album.name}}</h2>
            <h5 class="album-view-release-info">{{album.year}} {{album.label}}</h5>
        </div>
    </section>
    <!-- ==========================Current Album - Song List=========================== --> 
    <table class="album-song-listing" ng-repeat="song in album.songs" ng-mouseenter="onHoverSong(song)" ng-mouseleave="offHoverSong(song)"> 
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <!--Song List template -->
            <tr class="song-row" ng-click="playSong(song)">
                <td class="song-item-number" type="click">{{$index + 1}}
                </td>    
                <!--Number switches with play pause buttons
                
                    <span ng-switch="getSongState(song)">
                    <span class="fa fa-pause" ng-switch-when="playing">
                        <a class="album-song-button" ng-click="pauseSong(song)" type="click"></a>
                    </span>
                    <span class="fa fa-play" ng-switch-when="hovered">
                        <a class="album-song-button" ng-click="playSong(song)" type="click"></a>
                    </span>
                    <span class="song-item-number" ng-switch-default type="click">{{ $index + 1 }}
                    </span>
                </span> -->
                <td class="song-item-title">{{song.name}}</td>
                <td class="song-item-duration">{{song.length}}</td>
            </tr>
        </tbody>
    </table>
</main>
<div>
    <!-- ==========================Slider.html Player Bar=========================== --> 
    <ng-include src="'/templates/slider.html'"></ng-include>
</div>