<!-- ==============================Display All Albums================================= -->  
<section class="album-covers container clearfix" > 
	<!--Template Container that repeats-->
	<div class="collection-album-container column fouth" ng-repeat="album in albums">
		<!--Cover Art image - Link to Album Page -->
		<a ui-sref="album" ng-click="setCurrentAlbum(album.artist)"> 
			<img ng-src="{{album.albumArtUrl}}"> <!---->
		</a>
        <div class="collection-album-info caption" ng-click="setCurrentAlbum(album.artist)">
            <p>
                <!--Album Name - Link to album page-->
                <a class="album-name" ui-sref="album">
                    <span>{{ $index + 1 }}.</span>{{album.name}}
                </a><br>
                <!--Artist Name - Link to album page-->
                <a ui-sref="album">{{album.artist}}</a><br> 
                <!--Song File List Length-->
                Play List Length: <a class="album-length">{{album.songs.length}}</a>
            </p> 
        </div>
	</div>
</section>
