<!-- ==============================Hero Content================================= -->  
<section class="hero-content"> 
    <h1 class="hero-title">{{welcome}}</h1>
</section>
<section>
<!-- ==============================Supporting Content================================= -->  
    <!-- TODO: find function animation to make container rise-up --> 
    <div class="container">
        <div class="selling-points container" ng-repeat="actionItems in point.actionItems">
            <!--Secondary Feature sections - Content in app.js-->
            <span class="{{point.actionItems[$index].icon}}"></span> 
            <h4 class="point-title">{{point.actionItems[$index].title}}</h4>
            <p class="point-description">{{point.actionItems[$index].description}}</p>
        </div>
    </div>
</section>
