<section class="hero-content"> <!--hero content -->
    <h1 class="hero-title">{{welcome}}</h1>
</section>
<section>
    <!-- TPDO: find function animation to make container rise-up --> 
    <div class="container">
        <div class="selling-points container" ng-repeat="actionItems in point.actionItems">
            <span class="{{point.actionItems[$index].icon}}"></span> <!--icon -->
            <h4 class="point-title">{{point.actionItems[$index].title}}</h4>
            <p class="point-description">{{point.actionItems[$index].description}}</p>
        </div>
    </div>
</section>

