<!-- ==============================Supporting Content================================= -->
<!-- TODO: find function animation to make container rise-up --> 
<section> 
    <!--Template for action items-->
        <selling-points class="container">
            <div class="selling-points container" ng-click = "close" ng-repeat="actionItems in point.actionItems">
                <span class="{{point.actionItems[$index].icon}}"></span> 
                <h4 class="point-title">{{point.actionItems[$index].title}}</h4>
                <p class="point-description">{{point.actionItems[$index].description}}</p>
                <div ng-transclude></div>
            </div >
        </selling-points>
</section>

ng-hide="dialogIsHidden" on-close="hideDialog(message)"